<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.campustaobao.mapper.GoodsMapper">
<!--    首页商品图片检索暂时前面5张-->
    <select id="queryHomeGoods" resultMap="homeGoodsMap">
        select goods_no, goods_name,goods_price,goods_image_name from goods_info limit #{begin} ,#{count} ;
    </select>
    <resultMap id="homeGoodsMap" type="java.util.Map">
        <id property="goodsNo" column="goods_no" />
        <result property="goodsName" column="goods_name" />
        <result property="goodsPrice" column="goods_price" />
        <result property="goodsImageName" column="goods_image_name" />

    </resultMap>
    

    
    <!--    通过商品编号查找商品的详细信息-->
    <select id="queryGoodsInfoByGoodsNo" resultMap="goodsInfoMap">
        select goods_no, goods_name, goods_price,
               goods_brand,goods_image_name,goods_weight,goods_origin,
               goods_num,store_name
               from goods_info where goods_no = #{goodsNo}
    </select>
    <resultMap id="goodsInfoMap" type="java.util.Map">
        <id property="goodsNo" column="goods_no" />
        <result property="goodsName" column="goods_name" />
        <result property="goodsPrice" column="goods_price" />
        <result property="goodsBrand" column="goods_brand" />
        <result property="goodsImageName" column="goods_image_name" />
        <result property="goodsWeight" column="goods_weight" />
        <result property="goodsOrigin" column="goods_origin" />
        <result property="goodsNumber" column="goods_Num" />
        <result property="storeName" column="store_name" />
    </resultMap>
    
    <!--通过商品编号查找商品种类    -->
    <select id="queryGoodsTypeByGoodsNo" resultType="String">
        select goods_type from goods_info where goods_no = #{goodsNo}
    </select>
    <!-- 通过商品种类查找类似的商品信息    -->
    <select id="querySimilarGoodsByGoodsType" resultMap="similarGoodsMap">
        select goods_no,goods_name,goods_price,goods_image_name from goods_info where goods_type = #{goodsType}
    </select>
    <resultMap id="similarGoodsMap" type="java.util.Map">
        <id property="goodsNo" column="goods_no" />
        <result property="goodsName" column="goods_name" />
        <result property="goodsPrice" column="goods_price" />
        <result property="goodsImageName" column="goods_image_name" />
    </resultMap>
</mapper>